@charset "UTF-8";
.btn-movstyle{

	border: 1px purple solid;
	background: white;
	border-radius: 15px;
}
.btn-movstyle:hover {
	border: 1px purple solid;
	background: purple;
	color: white;
}

.btn-basiclist{
	border: none;
	background: white;
}
.btn-basiclist:hover {
	background: #ccc;
}
.btn-active{
	background: #352461;
	color: white;
	border: 1px solid #352461;
}
.btn-mov {
	border: 1px #352461 solid;
	background: white;
	border-radius: 15px;
	color:#352461;
}

.btn-mov:hover {
	background: #352461;
	color: white;
}
.btn-up{
	background: white;
	border-radius: 0px 10px 10px 0px;
	border: 1px #ccc solid;
	width: 30px;
}
.btn-down{
	background: white;
	border-radius: 10px 0px 0px 10px;
	border: 1px #ccc solid;
	width: 30px;
}
.btn-seat{
	width: 30px;
	height: 30px;
	background: white;
	color: #352461;
	border: 1px solid #352461;
}
.btn-seat.select{
	background: #352461;
	color: white;
}
.btn-pay{
	background: #352461;
	color: white;
	border-radius: 5px;
	border: 1px #352461 solid;
	width: 100px;
	height: 30px;
}
.btn-pay:hover{
	background: white;
	color: #352461;
}
.div-showSeat{
	background:#352461;
	color: white;
	border: 1px solid #352461;
}
.reserved{
	background: #352461;
	border: none;
	cursor: not-allowed;
}
.temp-reserved{
	background: #eee;
	cursor: not-allowed;
}
.selseat.hover {
	background: #352461;
	color: white;
}
.btn-day{
	border:1px solid #352461;
	color: #352461;
	border-radius:6px ;
	width: 100px;
	height:40px;
	background: white;
}
.btn-day:hover {
	background: #352461;
	color: white;
}