@charset "UTF-8";
.btn-movstyle{

	border: 1px purple solid;
	background: white;
	border-radius: 15px;
}
.btn-movstyle:hover {
	border: 1px purple solid;
	background: purple;
	color: white;
}

.btn-basiclist{
	border: none;
	background: white;
}
.btn-basiclist:hover {
	background: #ccc;
}
.btn-active{
	background: #9f468f;
	color: white;
}
.btn-mov {
	border: 1px purple solid;
	background: white;
	border-radius: 15px;
	color:purple;
}

.btn-mov:hover {
	background: purple;
	color: white;
}
.btn-up{
	background: white;
	border-radius: 0px 10px 10px 0px;
	border: 1px #ccc solid;
	width: 30px;
}
.btn-down{
	background: white;
	border-radius: 10px 0px 0px 10px;
	border: 1px #ccc solid;
	width: 30px;
}
.btn-seat{
	width: 30px;
	height: 30px;
	background: white;
	color: purple;
	border: 1px solid purple;
}
.btn-seat.select{
	background: purple;
	color: white;
}
.btn-pay{
	background: #481658;
	color: white;
	border-radius: 5px;
	border: 1px #481658 solid;
	width: 100px;
	height: 30px;
}
.btn-pay:hover{
	background: white;
	color: #481658;
}
.div-showSeat{
	background:#481658 !important;
	color: white !important;
	border: 1px solid #481658 !important;
}
.reserved{
	background: #481658 !important;
	border: none !important;
	cursor: not-allowed !important;
}
.temp-reserved{
	background: #eee !important;
	cursor: not-allowed !important;
}
.selseat.hover {
	background: #481658 !important;
	color: white;
}